.contact_{
    background-image: url(../img/background_four.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;
    display: grid;
    justify-items: center;
}
.contact_element{
    max-width: 200px;
    background-color: var(--contact-color);
    width: 100%;
    text-align: center;
    padding: 40px 40px 30px 40px;
    margin: 30px;
}
.contact_element i{
    color: var(--white-color);
    font-size: 40px;
}
.contact_name{
    font-family: var(--main-font-family);
    font-size: 22px;
    color: var(--white-color);
}
.element_{
    font-family: var(--main-font-family);
    font-size: 17px;
    color: var(--white-color);
}
@media (max-width: 768px){
    .contact_{
        display: flex;
        justify-content: center;
        height: 380px;
    }
    .contact_element{
        max-width: 180px;
        margin: 10px;
        padding: 50px 15px 30px 10px;
    }
}
@media (max-width: 1280px){
    .contact_{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 380px;
    }
    .contact_element{
        max-width: 250px;
        padding: auto;
    }
}