.footer_{
    background-color: var(--footer-color);
    display: grid;
    align-self: center;
    position: relative;
    margin: auto;
    text-align: center;
    height: 500px;
    padding-top: 20px;
}
.footer_logo_{
    max-width: 176px;
    justify-self: center;
    align-self: center;
}

.futer_link_{
    width: 400px;
    text-align: center;
    padding: 20px 0 10px 0;
    font-family: var(--main-font-family);
    font-size: 17px;
    color: var(--white-color)!important;
    display: flex;
    justify-content: space-evenly;
}
.bottom_text{
    font-family: var(--main-font-family);
    font-size: 12px;
    color: var(--white-color);
}
.link_img i{
    font-size: 20px;
    padding: 10px;
    color: var(--white-color);
}
@media (min-width: 768px){
    .footer_{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer_link{
        display: flex;
        justify-content: center;
    }
}
