._norway{
    padding: 20px 15px 0 20px;
}
._norway img{
    height: 330px;
    max-width: 300px;
    padding-top: 50px;
}
._norway_title{
    font-family: var(--title-font-family);
    font-size: 34px;
    color: var(--title-color);
}
._norway_text{
    font-family: var(--main-font-family);
    font-size: 19px;
    color: var(--title-color);
}
@media (min-width: 768px){
    ._norway{
        display: flex;
        justify-content: space-evenly;
    }
    ._norway img{
        max-width: 214px;
        height: 232px;
        padding-top: 90px;
    }
    ._norway_first, ._norway_rest_text{
        max-width: 164px;
        padding-top: 90px;
    }
}
/*@media (max-width: 1280px){
    ._norway{
        display: flex;
        justify-content: space-evenly;
    }
    ._norway img{
        max-width: 314px;
        height: 332px;
        padding-top: 50px;
    }
    ._norway_first, ._norway_rest_text{
        max-width: 264px;
        padding-top: 50px;
    }
    ._norway{
        padding: 20px 10px 0 10px;
    }
}