.statistics_{
    display: grid;
    padding-top: 20px;
}
.statistics_indicator{
    font-weight: 700;
    text-align: center;
    padding: 10px;
}
.digital_value{
    font-family: var(--main-font-family);
    font-size: 60px;
    font-weight: bold;
    color: var(--number-background-color);
}
.indicator_what{
    font-family: var(--main-font-family);
    font-size: 14px;
    color: var(--black-color);
}
@media (max-width: 768px){
    .statistics_{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .statistics_indicator{
        max-width: 367px;
        height: 126px;
        padding: 0 32px;
        margin: 30px;
    }
}
@media (max-width: 1280px){
    .statistics_{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}