.intro{
    background-image: url(../img/background_one.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1050px;
    
}
.name_section{
    color: var(--footer-color)!important;
}
.video_trip{
    max-width: 300px;
    height: 300px;
    padding-top: 20px;
}
.short_info{
    text-align: justify;
    max-width: 250px;
    padding: 20px;
    font-weight: 700;
}
.intro_norway{
    padding-top: 90px;
    padding-left: 20px;
}
.intro_title{
    font-family: var(--title-font-family);
    font-size: 70px;
    color: var(--white-color);
}
.intro_what, .intro_when{
    padding-top: 10px;
    font-family: var(--main-font-family);
    color: var(--white-color);
}
.intro_what{
    font-size: 17px;
}
.intro_when{
    font-size: 13px;
}
.intro_d{
    padding-top: 10px;
    font-family: var(--main-font-family);
    color: var(--intro-color);
    font-size: 12px;
}
.intro_where{
    margin-top: 10px;
    background-color: var(--blue-color);
    font-family: var(--main-font-family);
    color: var(--intro-color);
    font-size: 12px;
    border-radius: 20px;
    transition: transform 0.5s;
    align-items: center;
    outline: none;
    border: none;
    width: 50%;
    padding: 5px;
}
@media (min-width:768px){
    .intro{
        display: flex;
        justify-content: space-between;
    }
    .intro_norway{
        align-items: flex-start;
    }
    .short_info{
        margin-top: 300px;
        flex-shrink: 1; 
    }
    .intro_title{
        font-size: 100px;
    }
    .video_trip{
        max-width: 250px;
        height: 200px;
    }
    .intro_d, .intro_where{
        font-size: 15px; 
    }
    .intro_where{
        padding: 10px;
    }
    .intro_what{
        font-size: 21px;
    }
    .intro_when{
        font-size: 18px;
    }
}
/*@media (max-width: 1280px){
    .intro{
        display: flex !important;
        justify-content: space-between;
        height: 800px;
    }
    .intro_norway{
        padding-top: 20px;
    }
    .short_info{
        padding-top: 220px;
        padding-right: 60px;
    }
    .intro_title{
        font-size: 100px;
    }
}