.about_us_title{
    font-family: var(--title-font-family);
    font-size: 34px;
}
.text_white{
    color: var(--title-color);
}
.text_blue{
    color: var(--blue-color);
}
.about_us_rubric{
    font-family: var(--main-font-family);
    color: var(--title-color);
    font-size: 19px; 
}