.stunning_{
    background-color: var(--number-background-color);
    padding-top: 20px;
}
.stunningCarousal {
    display: grid;
    max-width: 1000px;
    position: relative;
    margin: auto;
    
}
.stunningCarousal img{
    width: 100%;
    margin: auto;
    max-width: 300px;
    margin: 10px;
}
.stCarousel{
    display: none;
}
.back, .next{
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    margin-top: -30px;
    padding: 5px;
    font-size: 10px;
    user-select: none;
}
.back:hover, .next:hover{
    background-color: var(--tour-color);
} 
.stunning{
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.places_text{
    font-family: var(--main-font-family);
    font-size: 17px;
    color: var(--tour-color);
    padding-top: 15px;
}   