.tour_itinerary_{
    background-image: url(../img/background_png.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 1090px;
    padding-left: 20px;
}
.tour_itinerary_ img{
    max-width: 315px;
    height: 340px;
}
.tour{
    max-width: 312px;
    padding-right: 20px;
    font-weight: 600;
    line-height: 1.3;
}
.one_part{
    color: var(--white-color);
}
.two_part{
    color: var(--title-color);
}
.one_part, .two_part{
    font-family: var(--title-font-family);
    font-size: 34px;
}
.tour_text{
    font-family: var(--main-font-family);
    font-size: 17px;
    color: var(--tour-color);
}
._text{
    font-family: var(--main-font-family);
    font-size: 18px;
    color: var(--white-color);
}
._text_content{
    font-family: var(--main-font-family);
    font-size: 14px;
    color: var(--tour-color-two);
}
@media (max-width: 768px){
    .tour_itinerary_{
        display: flex;
        justify-content: space-evenly;
    }
    .tour_itinerary_ img{
        padding-top: 100px;
        max-width: 330px;
        height: 380px;
    }
    .tour{
        padding-top: 100px;
        max-width: 280px;
    }
    .collection_{
        padding-top: 10px;
        margin-top: 15px;
    }
}
@media (max-width: 1280px){
    .tour_itinerary_{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        height: 820px;
    }
    .tour{
        padding-right: 40px;
    }
    .tour_itinerary_ img{
        max-width: 390px;
        height: 410px;
    }
}
